<div class="container-fluid">
    <div class="row">
        <!-- nav bar definition -->
        <div class="col-md-2 border">
            <hr>
            <div class="row justify-content-center">
                <h2>Queue Ops</h2>
            </div>
            <div class="row justify-content-center">
                <h6 class="container col-md">Front of Queue</h6>
                    <input #addActor (keyup.enter)="threeDApp.addActor(addActor.value, 'front'); addActor.value=''" type="text" class="form-control col-md" placeholder="New Name">
                    <button class="btn-primary col-md-2" ngbButtonLabel (click)="threeDApp.addActor(addActor.value, 'front'); addActor.value=''">Add</button>
                    <button class="btn-danger col-md" ngbButtonLabel (click)="threeDApp.removeActor(threeDApp.line.actors[0])">Remove First In Line</button>
            </div>
            <hr>
            <div class="row justify-content-center">
                <h6 class="col-md">End of Queue</h6>
                <input #removeActor (keyup.enter)="threeDApp.addActor(removeActor.value, 'back'); removeActor.value=''" type="text" class="form-control col-md" placeholder="New Name">
                <button class="btn-primary col-md-2" ngbButtonLabel (click)="threeDApp.addActor(removeActor.value, 'back'); removeActor.value=''">Add</button>
                <button class="btn-danger col-md" ngbButtonLabel (click)="threeDApp.removeActor(threeDApp.line.actors[threeDApp.line.actors.length-1])">Remove Last In Line</button>
            </div>
            <hr>
            <hr>
            <div class="row">
                <h2>Actors: </h2>
            </div>
            <div *ngFor="let actor of threeDApp.line.actors">
                <div class="row justify-content-center">
                    <h5 class="col-md-4">{{actor.name}}</h5>
                    <label class="col-md-4 btn-danger" (click)="threeDApp.removeActor(actor)" ngbButtonLabel>Remove</label>
                </div>
            </div>
            <hr>
        </div>
        <!-- render viewport -->
        <div class="col-md">
            <canvas id="renderCanvas"></canvas>
        </div>
    </div>
</div>